.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    .form {
        width: 60%;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}
