.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .form {
        width: 60%;
    }
}

.form-btn {
    color: $default-light;
    background-color: $accent-primary;
    padding: 5px 25px;
}
.form-btn:hover {
    background-color: $accent-primary-transparent;
}
.form-btn:disabled {
    background-color: $default-light-transparent;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}
