.project-card {
    font-family: 'Roboto' sans-serif;
    padding: 30px 20px;
    background-color: #cee8ca;
    border-radius: 15px;
    color: #4a7745;
}
.project-members-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.card-caption {
    font-weight: 900;
}
.member-photos {
    display: flex;
}
.completion-headers {
    display: flex;
    justify-content: space-between;
}
