$border-primary: #d5e3d6;
.MuiTableCell-body {
    text-align: center;
    border-top: 1px solid $border-primary;
}
.MuiTableCell-body:nth-child(1) {
    border-radius: 10px 0 0 10px;
    border-left: 1px solid $border-primary;
}
.MuiTableCell-body:nth-last-child(1) {
    border-radius: 0 10px 10px 0;
    border-right: 1px solid $border-primary;
}
