.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .form {
        width: 60%;
    }
    .form-btn {
        color: #fff;
        background-color: #ec4f6e;
        padding: 5px 25px;
    }
    .form-btn:hover {
        background-color: #ec4f6ecc;
    }
    .form-btn:disabled {
        background-color: #e5e5e5;
    }
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}
