$border-primary: #d5e3d6;
$accent-primary: #ec4e6e;
$accent-primary-transparent: #ec4f6ecc;

$default-light: #fff;
$default-light-transparent: #e5e5e5;

$secondary-font-family: 'Poppins', sans-serif;
