$border-primary: #d5e3d6;
$accent-primary: #ec4e6e;
$default-black: #1f2026;

$secondary-font-family: 'Poppins', sans-serif;

$progress-light: #fff3e9;
$progress-default: #ff9c46;

$register-light: #e9ecff;
$register-default: #465bff;

$expired-light: #ffe9e9;
$expired-default: #ff4646;
