@import '../../styles/variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-green;
    padding: 15px;
}
.user-menu {
    display: flex;
    flex-direction: row;
}
.user-data {
    display: flex;
    flex-direction: column;
}
