@import '../../styles/variables.scss';

.container {
    height: 100vh;
    display: flex;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    font-family: $secondary-font-family;
}
.form-control {
    border: 1px solid black;
}
